body {
    background: #eee;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2d84cc;
    padding: 1rem;
    color: #fff;
}

.logo {
    margin: 0;
    color: #fff;
    font-size: 14pt;
}

/* MESSAGE */

.message {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin: .5rem; */
    padding: 1rem;
}

.text {
    font-size: 16px;
    font-weight: 200;
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.displayName {
    font-weight: bold;
    padding: .5rem;
}

.username { color: #aaa; }

.date {
    color: #aaa;
    padding: .5rem;
    font-size: 8pt;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    color: #aaa;
}

.icon { margin-right: 3rem; }

.numero {
    font-size: 10pt;
    margin-right: 3rem;
    margin-left: .25rem;
}

.rtGreen { color: #20883f; }
  
.favYellow { color: #e2c400; }

/* MESSAGE LIST */

.list { margin: .5rem; } 

/* PROFILE BAR */

.profileBar {
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.button {
    background: #2d84cc;
    color: #fff;
    border: 1px solid #1f6fb1;
    border-radius: 5px;
    padding: .5rem .75rem;
}

.username-pb { color: #666; }
  

/* INPUT TEXT */

/* .text-it {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 90%;
    height: 5rem;
    padding: .75rem;
    margin: 1rem .5rem;
} */

.buttons-it {
    display: flex;
    justify-content: flex-end;
}

.buttons-it > button {
    border-radius: 5px;
    padding: .5rem .75rem;
    margin: .25rem;
}

.close {
    background: #fff;
    border: 1px solid black;
}

.send {
    background: #2d84cc;
    border: 1px solid #226aa6;
    color: #fff;
}

/* PROFILE */

.profile {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 100%;
}

.avatar-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem auto;
}

.name {
    font-weight: 700;
    font-size: 20pt;
    text-align: center;
}

.data {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

.data > li {
    background: white;
    padding: 1rem;
    margin: 0;
    border: 1px solid #ddd;
    color: #777;
}

/* LOGIN */

.login {
    margin: 0 1rem;
    text-align: center;
}

.text-login { color: #888 }

.button-login {
    border: #666;
    border-radius: 5px;
    padding: .5rem 1rem;
    background: #aaa;
    color: #eaeaea;
}